<section class="section" id="products">
    <div class="products">
        <div class="products__title">
            <p>cbd featured proroducts</p>
        </div>
         <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide d-flex flex-column p-2">
                    <div class="content">
                        <!-- Add rating -->
                        <div class="rating-mini">
                            <span class="active"></span>	
                            <span class="active"></span>    
                            <span class="active"></span>  
                            <span class="active"></span>    
                            <span class="active"></span>
                        </div>
                        <div class="title">cbd 500 mg orange flavor ticture</div>
                        <div class="img">
                            <img src="../images/card-1.png" alt="">
                        </div>
                        <div class="row">
                            <div class="price">$49.99 usd</div>
                            <button class="btn btn-outline-success px-4" type="submit">
                                Shop
                                <i class="bi bi-dash"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content">
                        <!-- Add rating -->
                        <div class="rating-mini">
                            <span class="active"></span>	
                            <span class="active"></span>    
                            <span class="active"></span>  
                            <span class="active"></span>    
                            <span class="active"></span>
                        </div>
                        <div class="title">cbd 500 mg orange flavor ticture</div>
                        <div class="img">
                            <img src="../images/card-2.png" alt="">
                        </div>
                        <div class="row">
                            <div class="price">$49.99 usd</div>
                            <button class="btn btn-outline-success px-4" type="submit">
                                Shop
                                <i class="bi bi-dash"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content">
                        <!-- Add rating -->
                        <div class="rating-mini">
                            <span class="active"></span>	
                            <span class="active"></span>    
                            <span class="active"></span>  
                            <span class="active"></span>    
                            <span class="active"></span>
                        </div>
                        <div class="title">cbd 500 mg orange flavor ticture</div>
                        <div class="img">
                            <img src="../images/card-3.png" alt="">
                        </div>
                        <div class="row">
                            <div class="price">$49.99 usd</div>
                            <button class="btn btn-outline-success px-4" type="submit">
                                Shop
                                <i class="bi bi-dash"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content">
                        <!-- Add rating -->
                        <div class="rating-mini">
                            <span class="active"></span>	
                            <span class="active"></span>    
                            <span class="active"></span>  
                            <span class="active"></span>    
                            <span class="active"></span>
                        </div>
                        <div class="title">cbd 500 mg orange flavor ticture</div>
                        <div class="img">
                            <img src="../images/card-1.png" alt="">
                        </div>
                        <div class="row">
                            <div class="price">$49.99 usd</div>
                            <button class="btn btn-outline-success px-4" type="submit">
                                Shop
                                <i class="bi bi-dash"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content">
                        <!-- Add rating -->
                        <div class="rating-mini">
                            <span class="active"></span>	
                            <span class="active"></span>    
                            <span class="active"></span>  
                            <span class="active"></span>    
                            <span class="active"></span>
                        </div>
                        <div class="title">cbd 500 mg orange flavor ticture</div>
                        <div class="img">
                            <img src="../images/card-3.png" alt="">
                        </div>
                        <div class="row">
                            <div class="price">$49.99 usd</div>
                            <button class="btn btn-outline-success px-4" type="submit">
                                Shop
                                <i class="bi bi-dash"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content">
                        <!-- Add rating -->
                        <div class="rating-mini">
                            <span class="active"></span>	
                            <span class="active"></span>    
                            <span class="active"></span>  
                            <span class="active"></span>    
                            <span class="active"></span>
                        </div>
                        <div class="title">cbd 500 mg orange flavor ticture</div>
                        <div class="img">
                            <img src="../images/card-2.png" alt="">
                        </div>
                        <div class="row">
                            <div class="price">$49.99 usd</div>
                            <button class="btn btn-outline-success px-4" type="submit">
                                Shop
                                <i class="bi bi-dash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <!-- <div class="swiper-pagination"></div> -->
        </div>

        <div class="button">
            <div class="button-next"><i class="bi bi-arrow-right"></i></div>
            <div class="button-prev"><i class="bi bi-arrow-left"></i></div>
        </div>

    </div>
  
    
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
      slidesPerView: 3,
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
          nextEl: '.button-next',
          prevEl: '.button-prev',
      }
    });
    </script>
    
</section>>
