<section id="quotes">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="content d-flex flex-column">
                    <img src="../images/bg-emotions.png" class="img-carousel d-block w-100" alt="...">
                    <div class="text d-flex flex-column">
                        <div class="rating-mini m-5">
                            <span class="active"></span>	
                            <span class="active"></span>    
                            <span class="active"></span>  
                            <span class="active"></span>    
                            <span class="active"></span>
                        </div>
                        <p class="title-text">
                            I have tried another product after using this one successfully, and I am Back for good!
                            The flavour, the lightness of the oil and the health benefits I have gotten with oil are amazing!
                        </p>
                        <p class="subtitle">Mark J.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <div class="content d-flex flex-column">
                    <img src="../images/bg-emotions.png" class="img-carousel d-block w-100" alt="...">
                    <div class="text d-flex flex-column">
                        <div class="rating-mini m-5" id="raiting">
                            <span class="active"></span>	
                            <span class="active"></span>    
                            <span class="active"></span>  
                            <span class="active"></span>    
                            <span class="active"></span>
                        </div>
                        <p class="title-text">
                            I have tried another product after using this one successfully, and I am Back for good!
                            The flavour, the lightness of the oil and the health benefits I have gotten with oil are amazing!
                        </p>
                        <p class="subtitle">Mark J.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <div class="content d-flex flex-column">
                    <img src="../images/bg-emotions.png" class="img-carousel d-block w-100" alt="...">
                    <div class="text d-flex flex-column">
                        <div class="rating-mini m-3">
                            <span class="active"></span>	
                            <span class="active"></span>    
                            <span class="active"></span>  
                            <span class="active"></span>    
                            <span class="active"></span>
                        </div>
                        <p class="title-text">
                            I have tried another product after using this one successfully, and I am Back for good!
                            The flavour, the lightness of the oil and the health benefits I have gotten with oil are amazing!
                        </p>
                        <p class="subtitle">Mark J.</p>
                    </div>
                </div>
            </div>

            <div class="button-content">
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
      </div>
    </div>
</section>